.o_sale_order .o_sale_confirm {
    background: red!important;
    border-color: red!important;
}
.o_chatter .o_chatter_topbar {
    text-align:center;
}
.o_chatter .o_chatter_topbar .o_chatter_button_new_message {
    float:left;
}